<h1>Preuzmi CSV datoteku</h1>

<a class="btn btn-primary" href="https://localhost:7223/api/data/csv">Preuzmi CSV</a>

<hr />

<h1>Preuzmi Json datoteku</h1>

<a class="btn btn-primary" href="https://localhost:7223/api/data/json">Preuzmi Json</a>